$transformare_i:skewX(0deg) !default;
$transformare_f:skewX(90deg) !default;
$nrimag: 10 !default;


#sectiune-galerie-animata{
	padding-left: var(--padding-intern);/* variabila din css-ul general*/
	padding-right: var(--padding-intern);
}
.galerie-a{
	width:896px;
	height:520px;
    border: 8px inset;
    border-image: url("/resurse/img/motherboard.jpg") 30 stretch;
	position:relative;
	overflow:hidden;
	margin-bottom:5rem;
}
.galerie-a figcaption{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.7);
	width:100%;
	text-align:center;
    padding: 0;
    margin: 0;
}
.galerie-a figure{
	position:relative;
	width:896px;
	height:504px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:500px){
	#sectiune-galerie-animata{
		display: none;
	}
}