@use 'sass:list';
@use 'sass:math';
$lista_transformari: ((rotateZ(0deg),rotateZ(135deg)),(skew(0deg), skew(90deg)), (scaleX(1) rotateZ(0), scaleX(0) rotateZ(90deg)),(scaleY(1) rotateZ(0deg), scaleY(0) rotateZ(90deg)));
// $indice:math.random(list.length($lista_transformari));
$indice: 3;
// $tri:list.nth(list.nth($lista_transformari,$indice),1);
// $trf:list.nth(list.nth($lista_transformari,$indice),2);

$tri: skewX(0deg);
$trf: skewX(90deg);

@use '../resurse/scss/galerie_animata_frag' with (
  $nrimag: <%- locals.nrimag %>
);

<%
  var timptotal = 3 * locals.nrimag;
  var procent7 = 150/timptotal;
  var procent92 = 100 - procent7;
%>

@keyframes gal{ 
	0% {z-index:10; clip-path: inset(0 50% 0 50%);} /*perioada 0-5% in care se afiseaza fara efect */
	<%- procent7 %>% {clip-path: inset(0 0 0 0);} /*transformare inceput disparitie*/
	//14.285714%{z-index:10;}
	// 14.285715%{z-index:-10;}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
 
	<%- procent92 %>% {clip-path: inset(0 0 0 0); z-index:-10;}	
	// 92.857144%{opacity: 1; z-index:0; clip-path: inset(0 50% 0 50%);}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
	100%{z-index:0;}
}

<% 
var timpCurent = 0;
for(var i = locals.nrimag; i >= 1; i -= 1) { %>
  #galerie-animata figure:nth-of-type(<%- i %>) {
    background-color: white;
    animation-delay: <%- timpCurent %>s;
  }
  <% timpCurent += 3; 
 } %>

#galerie-animata figure{	
	position:absolute;
	left:0;
	top:0;
  z-index:0;
  animation-name:gal;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-fill-mode:forwards;
  animation-duration:<%- timptotal %>s;	
  transform-origin:center center;

  &:hover {
    animation-play-state: paused;
  }
}