@use 'sass:list';
@use 'sass:math';

#sectiune-galerie-animata{
	padding-left: var(--padding-intern);/* variabila din css-ul general*/
	padding-right: var(--padding-intern);
}
.galerie-a{
	width:896px;
	height:520px;
    border: 8px inset;
    border-image: url("/resurse/img/motherboard.jpg") 30 stretch;
	position:relative;
	overflow:hidden;
	margin-bottom:5rem;
}
.galerie-a figcaption{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.7);
	width:100%;
	text-align:center;
    padding: 0;
    margin: 0;
}
.galerie-a figure{
	position:relative;
	width:896px;
	height:504px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:500px){
	#sectiune-galerie-animata{
		display: none;
	}
}

<%
  var timptotal = 3 * locals.nrimag;
  var procent7 = 150/timptotal;
  var procent92 = 100 - procent7;
%>

@keyframes gal{ 
	0% {z-index:10; clip-path: inset(0 50% 0 50%);} /*perioada 0-5% in care se afiseaza fara efect */
	<%- procent7 %>% {clip-path: inset(0 0 0 0);} /*transformare inceput disparitie*/
	//14.285714%{z-index:10;}
	// 14.285715%{z-index:-10;}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
 
	<%- procent92 %>% {clip-path: inset(0 0 0 0); z-index:-10;}	
	// 92.857144%{opacity: 1; z-index:0; clip-path: inset(0 50% 0 50%);}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
	100%{z-index:0;}
}

<% 
var timpCurent = 0;
for(var i = locals.nrimag; i >= 1; i -= 1) { %>
  #galerie-animata figure:nth-of-type(<%- i %>) {
    background-color: white;
    animation-delay: <%- timpCurent %>s;
  }
  <% timpCurent += 3; 
 } %>

#galerie-animata figure{	
	position:absolute;
	left:0;
	top:0;
  z-index:0;
  animation-name:gal;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-fill-mode:forwards;
  animation-duration:<%- timptotal %>s;	
  transform-origin:center center;

  &:hover {
    animation-play-state: paused;
  }
}