<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="componente calculator, componente PC, procesoare, placi video, CPU, GPU, HDD, SSD, periferice, accesorii PC, procesoare, memorii, hard disk uri, placi de baza, carcase, unitati optice, ventilatoare carcasa, surse, conectica">
        <meta name="description" content="Cel mai bun loc pentru componente de PC, de la A la Z.">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>CalculatorulTau - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>