body{
    --inaltime-meniu:3rem;
}

nav ul.meniu ul{
    /*implicit submeniul e ascuns*/
    display: none;
	position:absolute;/* ca sa il scot din container pe alt layer, sa nu imi deplaseze continutul cand devine vizibil*/
	width:100%;
}
nav{
    
    height:var(--inaltime-meniu);
    width:100%;
    top:0;
    padding:0;
    background: var(--culoare-header);
    z-index:10;
    /*ca sa fie pozitionat normal in partea de sus a containerului, sub sigla, 
    dar apoi cand dam scroll sa ramana fix pe ecran*/
    position:sticky;
}
nav ul.meniu>li{
    float:left;
    width:150px;
	position:relative;/* pentru ca submeniul pozitionat relativ sa aiba ca referinta parintele li*/
}

nav ul, nav li{
    padding:0;
    margin:0;
}
nav ul.meniu li{
    /*text centrat pe orizontala*/
    text-align:center;

    /*ascundem bullets*/
    list-style-type: none;
    background: var(--culoare-header);
    cursor:pointer;
}
nav ul.meniu li a, nav ul.meniu li div{
    text-decoration: none;
    color:var(--cl-text);
    display: block;
    font-weight:bold;
    /*inaltimea butonului si inaltimea liniei de text sunt identice 
    pentru a centra textul pe verticala in element
     - merge doar daca textul are o singura linie*/
    height:var(--inaltime-meniu);
    line-height:var(--inaltime-meniu);
    outline:1px solid black;
}
ul.meniu a:hover, ul.meniu div:hover{
    background:var(--cl-marcare);
}

/*ul.meniu a, ul.meniu div{
   transition: background 700ms linear; 
}*/

/*deschidere submeniu*/
nav ul.meniu>li:hover>ul{
	display:block;
    animation-name: aparitie_meniu;
    animation-iteration-count:1;
    animation-duration:0.3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    transform-origin: 50% 0;
}


#hamburger{
    display: none;
    height: var(--inaltime-meniu);
}
#ch-menu{
    display: none;
}
#hamburger img {
    height:100%;
    width:auto;
}

@keyframes aparitie_meniu {
    0% {
      transform: scaleY(0);
    }
    /*80% {
      transform: scaleY(1.1)
    }*/
    100% {
      transform: scaleY(1)
    }
}

@media(min-width: 700px) {
    nav ul.meniu>li:hover {
        background: radial-gradient(#C3AEF2, #fff);
    }
    .container_arrow:hover {
        display: block;
    }
    nav ul.meniu > li li a:before {
        display: inline-block;
        content: "\2192";
        color: white;
        transform: translateX(-100px);
        transition: transform 0.5s ease;
      }
      
      nav ul.meniu > li li a:hover:before {
        transform: translateX(0px);
      }
}

.clasaprint-meniu {
    position: absolute;
    page-break-after: always;
}

ul.clasaprint-meniu>li>ul {
    display:none;
}
