
#tabelul {
    caption-side: bottom;
    border-spacing: 2px;
    width: 100%;
    border: 5px inset #9167F5;
}

table td, table th {
    border: 1px solid black;
}

#tabelul thead tr th {
    border-top: 1px solid #9167F5;
    border-bottom: 1px solid #9A8ABF;
}

#tabelul tbody tr:nth-child(odd) td {
    border-top: 1px solid #9A8ABF;
    border-bottom: 1px solid #9167F5;
}

#tabelul tbody tr:nth-child(even) td {
    border-top: 1px solid #9167F5;
    border-bottom: 1px solid #9A8ABF;
}

#tabelul tfoot tr td {
    border-top: 1px solid #9A8ABF;
    border-bottom: 1px solid #9167F5;
}

#tabelul tbody tr td:hover {
    animation-name: aparitie_outline;
    animation-iteration-count:1;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* transform-origin: 50% 0; */
}

/* tbody:nth-child(even) tr:nth-child(odd) {
    background-color: red;
}

tbody:nth-child(even) tr:nth_child(even) {
    background-color: yellow;
} */

@media screen and (max-width: 700px) {
    #tabelul {
        border-spacing: 0px;
    }
    #container_tabel {
        overflow-x: scroll;
    }
}

/* #container_tabel table tbody tr:nth_child(even) {
    color: pink;
}  */

@keyframes aparitie_outline {
    0% {
      outline: 0px;
    }
    /*80% {
      transform: scaleY(1.1)
    }*/
    100% {
      outline: 5px solid rgba(145, 103, 245, 0.7); 
    }
}