<header>
    <!-- <h1>CalculatorulTau</h1> -->
    <figure>
        <img sizes="(min-width:960px) 951px, (min-width:600px) 550px, 300px"
            srcset="resurse/logo/logo-web.png 951w, resurse/logo/logo-tablet.jpg 600w, resurse/logo/logo-phone.jpg 300w"
            src="resurse/logo/logo-phone.jpg"
            alt="calculatorultau">
        <figcaption>calculatorultau.ro</figcaption>
    </figure>
    <h1 id="htitle">CalculatorulTau</h1>
    <nav>  
        <label id="hamburger" for="ch-menu">
            <img src="resurse/img/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu" id="meniul">
            <li><a href="/"><div id="acasa">Acasa</div><div id="casuta"><i class="fas fa-house"></div></i></a>
                <ul>
                    <li><a href="/#firstsection">Despre noi</a></li>
                    <li><a href="/#secondsection">Resurse</a></li>
                    <li><a href="/#thirdsection">Sectiuna trei</a></li>
                </ul>
            </li>
            <!-- <li><a href="#">Inregistrare</a></li> -->
            <li><div><a href="/despre">Despre</a></div>
                <ul>                        
                    <li><a href="/despre#prezentare">Prezentare</a></li>
                    <li><a href="/despre#istoric">Istoric</a></li>
                    <li><a href="/despre#motivatie">Motivatie</a></li>
                    <li><a href="/despre#galerie">Galerie</a></li>
                </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="cpu.html">Procesoare</a></li>
                    <li><a href="gpu.html">Placi video</a></li>
                    <li><a href="motherboard.html">Placi de baza</a></li>
                    <li><a href="case.html">Carcase</a></li>
                    <li><a href="storage.html">Stocare</a></li>
                    <li><a href="psu.html">Surse</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>  
</header>